node-red flow.json
[{"id":"711d8e48.ce789","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0b5f508.575cd8","type":"function","z":"711d8e48.ce789","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":280,"wires":[["5e985dbe.2d2a54","22405786.84b508"]],"l":false},{"id":"29996ccb.0761b4","type":"function","z":"711d8e48.ce789","name":"bot","func":"\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":279,"wires":[["17ad33bd.ebf08c","81690e3a.c2c5e"]],"l":false},{"id":"17ad33bd.ebf08c","type":"debug","z":"711d8e48.ce789","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610.600058555603,"y":349.0000066757202,"wires":[],"l":false},{"id":"97f0cf53.f12da","type":"ui_form","z":"711d8e48.ce789","name":"","label":"","group":"c89d0c33.6c0bb","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":134,"y":293,"wires":[["e0b5f508.575cd8"]],"l":false},{"id":"5e985dbe.2d2a54","type":"watson-conversation-v1","z":"711d8e48.ce789","name":"chatbot","workspaceid":"7589343e-f8d5-46ba-bcf7-d1e85b85a042","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/82044bb6-c207-4b62-8aaa-4366efbd80c4","timeout":"","optout-learning":false,"x":378,"y":89.79998779296875,"wires":[["29996ccb.0761b4"]]},{"id":"be0b00ef.09e24","type":"inject","z":"711d8e48.ce789","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":100,"wires":[["5e985dbe.2d2a54"]],"l":false},{"id":"22405786.84b508","type":"ui_text","z":"711d8e48.ce789","group":"c89d0c33.6c0bb","order":3,"width":"7","height":"2","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":235,"y":380,"wires":[],"l":false},{"id":"81690e3a.c2c5e","type":"ui_text","z":"711d8e48.ce789","group":"c89d0c33.6c0bb","order":3,"width":"7","height":"2","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":655,"y":240,"wires":[],"l":false},{"id":"c89d0c33.6c0bb","type":"ui_group","z":"","name":"Coversation","tab":"ac34c22b.bc048","order":1,"disp":true,"width":"7","collapse":false},{"id":"ac34c22b.bc048","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]